@import '../../styles/vars';

.btn {
  color: var(--color-white);
  text-align: center;
  padding-inline: 1rem;
  border-radius: 16px;
  border: 1px solid currentColor;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;

  &:active,
  &:focus {
    outline: none;
    border: none;
    box-shadow: var(--shadow-intense);
  }

  &:hover {
    box-shadow: var(--shadow-primary);
  }
}

.small {
  height: 40px;
}

.long {
  padding-inline: 2.5rem;
}

.green {
  background-color: var(--color-green);
}

.red {
  background-color: var(--color-red);
}

.primary {
  background-color: var(--color-primary);
  transition: all 0.2s ease-out;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}

.icon {
  display: inline-block;
  max-width: 100%;
  margin-right: 8px;
  font-size: 1.5rem;
  line-height: 0.5;
}
