.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  background: none;
  border: none;
  margin-right: 1.625rem;

  &:hover,
  &:focus {
    outline: none;
    color: var(--color-primary);
  }
}

.icon-box {
  font-size: 1.125rem;
  line-height: 1.3;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-radius: 12px;
  padding-block: 1.25rem;
  margin: 0;
  flex: 0 0 8.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:focus {
    box-shadow: var(--shadow-primary);
  }

  &:hover {
    color: var(--color-red);

    & svg {
      color: inherit;
    }
  }
}

.icon-box svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.other {
  position: relative;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  box-shadow: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
    border: none;
    color: var(--color-primary);
  }
}

.arrow {
  vertical-align: middle;
  line-height: 0.5;
  margin-left: 12px;
}

.list {
  list-style: none;
  padding: 20px;
}

.item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  & a:link,
  & a:visited {
    display: block;
    transition: all 0.2s;
  }

  & a:hover,
  & a:active,
  & a:focus {
    outline: none;
    color: var(--color-primary);
    transform: translateY(-3px);
  }
}

.dropdown {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(25, 25, 25, 0.1);
}

.tooltip {
  height: 8px;
  width: 16px;
  top: -8px;
  background-color: var(--color-white);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
