:root {
  // COLORS
  --color-primary: rgba(255, 112, 16, 1);
  --color-primary-light: rgba(255, 238, 226, 1);
  --color-red: rgba(226, 53, 53, 1);
  --color-green: rgba(29, 201, 77, 1);
  --color-black: rgba(25, 25, 25, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-background: rgba(249, 249, 249, 1);
  --color-grey-light: rgba(240, 240, 240, 1);
  --color-text-grey: rgba(165, 165, 165, 1);

  //FONTS
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-logo: 'Montserrat', sans-serif;
}
