.header {
  width: 100%;
  background-color: var(--color-white);
  padding: 1rem;

  display: grid;
  justify-content: end;
  grid-template-columns: 1fr minmax(min-content, var(--container)) 1fr;
  border-bottom: 1.25px solid var(--color-grey-light);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
  column-gap: 7px;
  align-items: center;
}

.start {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}
